*.yaml
!.pre-commit-config.yaml

*.db*
*.log*

/bin/
/dist/

# Local editor and OS files
.vscode/
.idea/
.DS_Store
*.swp
*.swo

/docs

/test

# Libs
*.dll
*.a
/vendor

# Test files
*.txt
*.json

# Executables
*.exe

# internal tools
/tools

PLAN.md
/CLI_UX.md
